<ng-container *ngIf="(this.gameState$ | async) as gameState">
    <div class="row justify-content-end" id="game"
         [ngClass]="{'completed':isGameWon(gameState)}">
        <div class="col-8">
            <p id="failed-attempts">
            <span *ngFor="let failedAttempt of failedAttempts(gameState)"
                  class="failed-attempt">{{ failedAttempt }}</span>
            </p>
        </div>
        <div class="col-4">
            <p [ngClass]="{'danger':gameState.failedAttempts.size >= 5}"
               class="text-right"
               id="attempts">{{ attemptsRatio(gameState) }}</p>
        </div>

        <div class="col-12 text-right" id="panda">
            <img alt='Panda with {{ attemptsLeft(gameState) }} bamboo(s) left'
                 id="bamboos"
                 src='/assets/img/panda_bamboo_{{ attemptsLeft(gameState) }}.png'
            />
        </div>
        <div class="col-12" id="phrase">
            <span *ngFor="let character of characters(gameState)" class="placeholder">{{ character }}</span>
            <form (ngSubmit)="onSubmit(gameForm.value)"
                  [formGroup]="gameForm"
                  class="col-md-2 col-sm-6">
                <div class="form-group row">
                    <input
                        [readonly]="isGameWon(gameState)"
                        autocomplete="off"
                        class="form-control"
                        formControlName="attempt"
                        id="letter"
                        maxlength="1"
                        type="text"/>
                    <button
                        [disabled]="isGameWon(gameState)"
                        class="btn btn-primary"
                        id="try"
                        type="submit">🎲
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="game-over"
         *ngIf="isGameWon(gameState)"
         class="alert alert-success"
         role="alert">Congratulations!
    </div>
</ng-container>
